.batchContainer {
    padding: 10px 15px;
    .operations {
        display: flex;
    }
}


:deep(.list-demo-item) {
    .arco-list-item-main {
        margin-right: 20px;
    }
}

.grid-demo .arco-col {
    min-height: 32px;
}

.sendContent,
.sengImg {
    display: flex;
    margin: 5px 0;

    span {
        display: inline-block;
        vertical-align: top;
    }

    .spanTitle {
        width: 70px;
    }

    .content {
        width: calc(100% - 70px);
        word-break: break-all;
    }

    .imgList {
        // width: 80%;
        width: calc(100% - 70px);
        display: flex;
        margin-top: 5px;
        justify-content: flex-start;

        .imgCon {
            text-align: center;
            height: 150px;
            margin-right: 20px;
        }

        .imgCon img {
            max-height: 100%;
            max-width: 99%;
        }
    }
}

.actionCon {
    height: 100%;

    .bot {
        text-align: right;
        margin-top: 20px;
    }
}


